body,
html {
  background: whitesmoke;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box; }

*,
*:after,
*:before {
  box-sizing: inherit; }

pre {
  border-radius: 4px;
  background-color: whitesmoke;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2) inset;
  margin: 2px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  position: relative;
  display: block;
  overflow-x: auto; }

.desktop {
  width: 100%;
  height: calc(100% - 50px);
  position: relative;
  display: block; }

.taskbar {
  width: 100%;
  height: 50px;
  display: relative;
  display: block;
  background-color: #c8c8c8; }
  .taskbar .start {
    display: inline-block;
    position: relative; }
    .taskbar .start .label {
      font-weight: bold;
      width: 100px;
      height: 100%;
      line-height: 50px;
      text-align: center;
      background-color: #969696;
      color: white;
      cursor: pointer;
      user-select: none;
      -webkit-transition: background 200ms linear;
      -moz-transition: background 200ms linear;
      -ms-transition: background 200ms linear;
      -o-transition: background 200ms linear;
      transition: background 200ms linear; }
      .taskbar .start .label:hover {
        background-color: #787878; }
    .taskbar .start .start-menu {
      height: 400px;
      width: 300px;
      background-color: #787878;
      position: absolute;
      top: -400px;
      left: 0;
      border-radius: 0 4px 0 0;
      display: none; }
      .taskbar .start .start-menu .applications {
        display: block;
        position: relative;
        height: 100%;
        width: 225px;
        float: left;
        overflow-y: auto; }
        .taskbar .start .start-menu .applications .application {
          display: block;
          position: relative;
          height: 50px;
          width: 100%;
          line-height: 50px;
          padding: 0 10px;
          color: white;
          cursor: pointer;
          font-weight: 300;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; }
          .taskbar .start .start-menu .applications .application:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 0;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            left: 0;
            bottom: -1px; }
          .taskbar .start .start-menu .applications .application i {
            margin-right: 10px; }
          .taskbar .start .start-menu .applications .application:hover {
            background-color: #646464; }
      .taskbar .start .start-menu .settings {
        float: left;
        width: 75px;
        height: 100%;
        display: block;
        position: relative;
        background-color: #6e6e6e;
        overflow-y: auto; }
        .taskbar .start .start-menu .settings .setting {
          display: block;
          height: 75px;
          width: 100%;
          padding-top: 15px;
          text-align: center;
          color: white;
          opacity: 0.8;
          cursor: pointer; }
          .taskbar .start .start-menu .settings .setting i {
            padding-top: 10px;
            font-size: 18px;
            -webkit-transition: all 0.2s linear;
            -moz-transition: all 0.2s linear;
            -ms-transition: all 0.2s linear;
            -o-transition: all 0.2s linear;
            transition: all 0.2s linear; }
          .taskbar .start .start-menu .settings .setting .setting-name {
            text-align: center;
            padding-top: 8px;
            color: white;
            font-size: 12px;
            opacity: 0;
            transform: rotateX(25deg);
            -webkit-transition: all 0.1s linear;
            -moz-transition: all 0.1s linear;
            -ms-transition: all 0.1s linear;
            -o-transition: all 0.1s linear;
            transition: all 0.1s linear; }
          .taskbar .start .start-menu .settings .setting:hover {
            background-color: #646464;
            opacity: 1; }
            .taskbar .start .start-menu .settings .setting:hover .setting-name {
              opacity: 1;
              padding-top: 5px;
              transform: rotateX(0deg); }
            .taskbar .start .start-menu .settings .setting:hover i {
              padding-top: 0; }
    .taskbar .start.active .label {
      background-color: #787878; }
    .taskbar .start.active .start-menu {
      display: block; }

/*# sourceMappingURL=style.css.map */
