body,
html {
    background: $background;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
    // cursor: $windows-cursor !important;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

pre {
    border-radius: 4px;
    background-color: rgb(245,245,245);
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.2) inset;
    margin: 2px;
    padding: 10px;
    border: 1px solid rgba(0,0,0,0.2);
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    position: relative;
    display: block;
    overflow-x: auto;
}

.desktop {
    width: 100%;
    height: calc(100% - 50px);
    position: relative;
    display: block;
}

.taskbar {
    width: 100%;
    height: 50px;
    display: relative;
    display: block;
    background-color: $taskbar;

    .start {
        display: inline-block;
        position: relative;

        .label {
            font-weight: bold;
            width: 100px;
            height: 100%;
            line-height: 50px;
            text-align: center;
            background-color: $start-button;
            color: white;
            cursor: pointer;
            user-select: none;
            -webkit-transition: background 200ms linear;
            -moz-transition: background 200ms linear;
            -ms-transition: background 200ms linear;
            -o-transition: background 200ms linear;
            transition: background 200ms linear;

            &:hover {
                background-color: $start-button--hover;
            }
        }

        .start-menu {
            height: 400px;
            width: 300px;
            background-color: $start-button--hover;
            position: absolute;
            top: -400px;
            left: 0;
            border-radius: 0 4px 0 0;
            display: none;

            .applications {
                display: block;
                position: relative;
                height: 100%;
                width: 225px;
                float: left;
                overflow-y: auto;

                .application {
                    display: block;
                    position: relative;
                    height: 50px;
                    width: 100%;
                    line-height: 50px;
                    padding: 0 10px;
                    color: white;
                    cursor: pointer;
                    font-weight: 300;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    &:after {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 0;
                        border-bottom: 1px solid rgba(0,0,0,0.1);
                        left: 0;
                        bottom: -1px;
                    }

                    i {
                        margin-right: 10px;
                    }

                    &:hover {
                        background-color: $taskbar-settings--hover;
                    }
                }
            }

            .settings {
                float: left;
                width: 75px;
                height: 100%;
                display: block;
                position: relative;
                background-color: $taskbar-settings;
                overflow-y: auto;

                .setting {
                    display: block;
                    height: 75px;
                    width: 100%;
                    padding-top: 15px;
                    text-align: center;
                    color: white;
                    opacity: 0.8;
                    cursor: pointer;

                    i {
                        padding-top: 10px;
                        font-size: 18px;
                        -webkit-transition: all 0.2s linear;
                        -moz-transition: all 0.2s linear;
                        -ms-transition: all 0.2s linear;
                        -o-transition: all 0.2s linear;
                        transition: all 0.2s linear;
                    }

                    .setting-name {
                        text-align: center;
                        padding-top: 8px;
                        color: white;
                        font-size: 12px;
                        opacity: 0;
                        transform: rotateX(25deg);
                        -webkit-transition: all 0.1s linear;
                        -moz-transition: all 0.1s linear;
                        -ms-transition: all 0.1s linear;
                        -o-transition: all 0.1s linear;
                        transition: all 0.1s linear;
                    }

                    &:hover {
                        background-color: $taskbar-settings--hover;
                        opacity: 1;

                        .setting-name {
                            opacity: 1;
                            padding-top: 5px;
                            transform: rotateX(0deg);
                        }

                        i {
                            padding-top: 0;
                        }
                    }
                }
            }
        }

        &.active {
            .label {
                background-color: $start-button--hover;
            }

            .start-menu {
                display: block;
            }
        }
    }

    .app-containers {}

    .notifications {}
}
